@import 'variables';
@import 'mixin';
@import 'login-signup';

#map  {
	margin-top: 7px;
	margin-left: 7px;
	margin-right: 7px;
	height: 43%;
	width: full;
}

.contain #location {
	padding: 0 10%;
}

.location-form {
	padding: 0 10%;
}

#companyAddress {
	padding-left: 14px;
    opacity: 0.93;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}



