/* Declaration of variables  */

/* Main */
$--main-font-color: black;
$--main-font-size: 12px;
$--main-bg-color: #f4f4f4;
$--main-font: 'Roboto', sans-serif;

/* Login button styles */

$--login-btn-main: #e84c3d;
$--login-btn-main-hover: #fd5c4c;
