/* ================== */
/* Declaration of variables  */
/* Main */
/* Login button styles */
/* Declaration of variables  */
/* Main */
/* Login button styles */
/* mixin */
/* styles for login page */
.contain {
  position: absolute;
  width: 35%;
  height: 530px;
  top: 50%;
  left: 50%;
  background-color: white;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  margin-bottom: 10px; }

.contain {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

@media screen and (max-width: 1290px) {
  .contain {
    width: 38%;
    transition-duration: 0.3s; } }
@media screen and (max-width: 1220px) {
  .contain {
    width: 40%;
    transition-duration: 0.3s; } }
@media screen and (max-width: 1140px) {
  .contain {
    width: 45%;
    transition-duration: 0.3s; } }
@media screen and (max-width: 1090px) {
  .contain {
    width: 50%;
    transition-duration: 0.3s; } }
@media screen and (max-width: 1020px) {
  .contain {
    width: 55%;
    transition-duration: 0.3s; } }
@media screen and (max-width: 920px) {
  .contain {
    width: 60%;
    transition-duration: 0.3s; } }
@media screen and (max-width: 820px) {
  .contain {
    width: 65%;
    transition-duration: 0.3s; } }
@media screen and (max-width: 720px) {
  .contain {
    width: 75%;
    transition-duration: 0.3s; } }
@media screen and (max-width: 620px) {
  .contain {
    width: 80%;
    transition-duration: 0.3s; } }
@media screen and (max-width: 520px) {
  .contain {
    width: 85%;
    transition-duration: 0.3s; }

  .navigation > ul > li > a {
    margin-left: -5px;
    transition: 0.5s; } }
@media screen and (max-width: 480px) {
  .contain {
    width: 90%;
    transition-duration: 0.3s; }

  .navigation > ul > li > a {
    margin-left: -10px;
    transition: 0.5s; } }
.navigation {
  top: 0;
  left: 0;
  width: 100%; }

.navigation > ul {
  padding-top: 25px; }

.navigation > ul > li {
  padding: 0 0 0 15px;
  display: inline; }

.navigation > ul > li > a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 500; }

.navigation > ul > li > a:hover,
.navigation > ul > li > a:focus {
  text-decoration: none;
  color: black; }

.contain > #signin-content > img,
#signup-content img {
  margin: 4% auto 5%;
  border-radius: 50%;
  width: 130px;
  height: 125px; }

.form-section {
  position: relative;
  padding: 0px 10%;
  margin-top: 8%; }

.form-section label {
  padding-bottom: 5px; }

#signup-content .form-section input {
  margin-bottom: 10px; }

.form-section sm {
  padding-left: 14px;
  opacity: 0.93;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 0.5px; }

.form-section input {
  border-radius: 3px;
  font-size: 12px;
  margin-top: 1px; }

.form-section input:focus {
  border-color: rgba(180, 53, 30, 0.3);
  box-shadow: 0 0px 0px #e84c3d inset, 0 0 1px #e84c3d;
  outline: 0 none; }

#username {
  background: url("person.svg") no-repeat scroll 12px 8px;
  background-size: 15px 15px;
  padding-left: 35px;
  z-index: 999; }

#pwd, #passwordInputLabelId,
#rePasswordInputLabelId {
  background: url("lock.svg") no-repeat scroll 12px 8px;
  background-size: 16px 16px;
  padding-left: 35px;
  z-index: 999; }

#check {
  padding-left: 16px;
  margin-top: 0px;
  margin-bottom: 0px; }

/* FOR SIGN UP */
#companyNameInputLabelId {
  background: url("cutlery.svg") no-repeat scroll 12px 8px;
  background-size: 16px 16px;
  padding-left: 35px;
  z-index: 999; }

#companyAddressInputLabelId {
  background: url("placeholder.svg") no-repeat scroll 12px 8px;
  background-size: 16px 16px;
  padding-left: 35px;
  z-index: 999; }

#emailInputLabelId, #fgtpwd {
  background: url("mail.svg") no-repeat scroll 12px 8px;
  background-size: 16px 16px;
  padding-left: 35px;
  z-index: 999; }

.btn-sign-in-center, .btn-sign-up-center, .submit-map {
  width: 43%;
  background: #e84c3d;
  border: none;
  color: white;
  border-radius: 2px;
  padding: 5px 15px;
  letter-spacing: 0.5px;
  font-size: 12px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border: none;
  text-align: center; }

.btn-sign-in-center:hover, .btn-sign-up-center:hover, .submit-map:hover {
  background-color: #fd5c4c;
  color: white;
  box-shadow: 0px 2px 3px #888888;
  transition-duration: 0.3s; }

.btn-sign-in-center:focus, .btn-sign-up-center:focus, .submit-map:focus,
.btn-sign-in-center:active,
.btn-sign-up-center:active,
.submit-map:active {
  color: white;
  transition-duration: 0.3s;
  outline: none; }

.btn-sign-up-center {
  margin-top: 20px;
  margin-bottom: 62px; }

#forgot {
  position: absolute;
  top: 0;
  right: 32px;
  color: black;
  opacity: 0.71; }

#forgot:hover,
#forgot:focus {
  text-decoration: none;
  color: #e84c3d;
  transition: 0.5; }

#mid {
  margin-top: 20px;
  margin-bottom: 20px; }

/* Underline From Center */
.hvr-underline-from-center-2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  opacity: 0.95; }

.hvr-underline-from-center-2:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #e84c3d;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-underline-from-center-2:hover:before,
.hvr-underline-from-center-2:focus:before,
.hvr-underline-from-center-2:active:before {
  left: 0;
  right: 0; }

#signup-content {
  display: none; }

#signin {
  color: #e84c3d; }

#forgot-password-modal-content {
  background: white;
  border-radius: 2px; }

#forgot-password-modal-position {
  top: 44%; }

#forgot-password-modal-body {
  padding: 30px; }

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .3; }

/* mixin */
/* Declaration of variables  */
/* Main */
/* Login button styles */
/* mixin */
/* Declaration of variables  */
/* Main */
/* Login button styles */
/* mixin */
/* styles for login page */
.contain {
  position: absolute;
  width: 35%;
  height: 530px;
  top: 50%;
  left: 50%;
  background-color: white;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  margin-bottom: 10px; }

.contain {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

@media screen and (max-width: 1290px) {
  .contain {
    width: 38%;
    transition-duration: 0.3s; } }
@media screen and (max-width: 1220px) {
  .contain {
    width: 40%;
    transition-duration: 0.3s; } }
@media screen and (max-width: 1140px) {
  .contain {
    width: 45%;
    transition-duration: 0.3s; } }
@media screen and (max-width: 1090px) {
  .contain {
    width: 50%;
    transition-duration: 0.3s; } }
@media screen and (max-width: 1020px) {
  .contain {
    width: 55%;
    transition-duration: 0.3s; } }
@media screen and (max-width: 920px) {
  .contain {
    width: 60%;
    transition-duration: 0.3s; } }
@media screen and (max-width: 820px) {
  .contain {
    width: 65%;
    transition-duration: 0.3s; } }
@media screen and (max-width: 720px) {
  .contain {
    width: 75%;
    transition-duration: 0.3s; } }
@media screen and (max-width: 620px) {
  .contain {
    width: 80%;
    transition-duration: 0.3s; } }
@media screen and (max-width: 520px) {
  .contain {
    width: 85%;
    transition-duration: 0.3s; }

  .navigation > ul > li > a {
    margin-left: -5px;
    transition: 0.5s; } }
@media screen and (max-width: 480px) {
  .contain {
    width: 90%;
    transition-duration: 0.3s; }

  .navigation > ul > li > a {
    margin-left: -10px;
    transition: 0.5s; } }
.navigation {
  top: 0;
  left: 0;
  width: 100%; }

.navigation > ul {
  padding-top: 25px; }

.navigation > ul > li {
  padding: 0 0 0 15px;
  display: inline; }

.navigation > ul > li > a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 500; }

.navigation > ul > li > a:hover,
.navigation > ul > li > a:focus {
  text-decoration: none;
  color: black; }

.contain > #signin-content > img,
#signup-content img {
  margin: 4% auto 5%;
  border-radius: 50%;
  width: 130px;
  height: 125px; }

.form-section {
  position: relative;
  padding: 0px 10%;
  margin-top: 8%; }

.form-section label {
  padding-bottom: 5px; }

#signup-content .form-section input {
  margin-bottom: 10px; }

.form-section sm {
  padding-left: 14px;
  opacity: 0.93;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 0.5px; }

.form-section input {
  border-radius: 3px;
  font-size: 12px;
  margin-top: 1px; }

.form-section input:focus {
  border-color: rgba(180, 53, 30, 0.3);
  box-shadow: 0 0px 0px #e84c3d inset, 0 0 1px #e84c3d;
  outline: 0 none; }

#username {
  background: url("person.svg") no-repeat scroll 12px 8px;
  background-size: 15px 15px;
  padding-left: 35px;
  z-index: 999; }

#pwd, #passwordInputLabelId,
#rePasswordInputLabelId {
  background: url("lock.svg") no-repeat scroll 12px 8px;
  background-size: 16px 16px;
  padding-left: 35px;
  z-index: 999; }

#check {
  padding-left: 16px;
  margin-top: 0px;
  margin-bottom: 0px; }

/* FOR SIGN UP */
#companyNameInputLabelId {
  background: url("cutlery.svg") no-repeat scroll 12px 8px;
  background-size: 16px 16px;
  padding-left: 35px;
  z-index: 999; }

#companyAddressInputLabelId {
  background: url("placeholder.svg") no-repeat scroll 12px 8px;
  background-size: 16px 16px;
  padding-left: 35px;
  z-index: 999; }

#emailInputLabelId, #fgtpwd {
  background: url("mail.svg") no-repeat scroll 12px 8px;
  background-size: 16px 16px;
  padding-left: 35px;
  z-index: 999; }

.btn-sign-in-center, .btn-sign-up-center, .submit-map {
  width: 43%;
  background: #e84c3d;
  border: none;
  color: white;
  border-radius: 2px;
  padding: 5px 15px;
  letter-spacing: 0.5px;
  font-size: 12px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border: none;
  text-align: center; }

.btn-sign-in-center:hover, .btn-sign-up-center:hover, .submit-map:hover {
  background-color: #fd5c4c;
  color: white;
  box-shadow: 0px 2px 3px #888888;
  transition-duration: 0.3s; }

.btn-sign-in-center:focus, .btn-sign-up-center:focus, .submit-map:focus,
.btn-sign-in-center:active,
.btn-sign-up-center:active,
.submit-map:active {
  color: white;
  transition-duration: 0.3s;
  outline: none; }

.btn-sign-up-center {
  margin-top: 20px;
  margin-bottom: 62px; }

#forgot {
  position: absolute;
  top: 0;
  right: 32px;
  color: black;
  opacity: 0.71; }

#forgot:hover,
#forgot:focus {
  text-decoration: none;
  color: #e84c3d;
  transition: 0.5; }

#mid {
  margin-top: 20px;
  margin-bottom: 20px; }

/* Underline From Center */
.hvr-underline-from-center-2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  opacity: 0.95; }

.hvr-underline-from-center-2:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #e84c3d;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-underline-from-center-2:hover:before,
.hvr-underline-from-center-2:focus:before,
.hvr-underline-from-center-2:active:before {
  left: 0;
  right: 0; }

#signup-content {
  display: none; }

#signin {
  color: #e84c3d; }

#forgot-password-modal-content {
  background: white;
  border-radius: 2px; }

#forgot-password-modal-position {
  top: 44%; }

#forgot-password-modal-body {
  padding: 30px; }

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .3; }

#map {
  margin-top: 7px;
  margin-left: 7px;
  margin-right: 7px;
  height: 43%;
  width: full; }

.contain #location {
  padding: 0 10%; }

.location-form {
  padding: 0 10%; }

#companyAddress {
  padding-left: 14px;
  opacity: 0.93;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-bottom: 10px; }

.submit-map {
  margin-top: 5%;
  background-color: green; }

/* ================== */
html, body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  height: 100%;
  background-color: #f4f4f4;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;}

/*# sourceMappingURL=styles.css.map */
